@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, synthwave;
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
}

.modal {
  transition: none;
}
